*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* setting the root font size to 10px, so we can use rem */
  // defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}